@import url(https://fonts.bunny.net/css?family=alata:400|audiowide:400|azeret-mono:400|inter:400|monomaniac-one:400|ubuntu-mono:400);
/* 
font-family: 'Alata', sans-serif;
font-family: 'Audiowide', display;
font-family: 'Azeret Mono', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Monomaniac One', sans-serif;
font-family: 'Ubuntu Mono', monospace;
*/

body {
    background-color: #14181f;
}

.Main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    align-items: start;
    width: 100%;
    height: fit-content;
    min-width: 870px;
}
    
.Nav-V {
    height: fit-content;
    justify-items: start;
    align-items: start;
    grid-column: span 3 / span 3;
    display: flex;
    gap: 20px;
    padding: 25px 0px 0px 20px ;
}

.Nav-V-Icon-Outline {
    width: 70px;
    height: 70px;
    border-radius: 25%;
    background-color: #243b55;
}

.Nav-V-Icon-Outline img {
    width: 50px;
    height: 50px;
    color: #0a85ff;
    margin: 10px 10px;
}

.Nav-V-Icon-Outline:hover {
    animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-10px);}
}

.Nav-V-Text H1{
    margin: 5px;
    color: #f8fafc;
    text-shadow: 3px;
    font-family: 'Inter', sans-serif;   
}

.Nav-V-Text p{
    margin: 5px;
    color: #7588a3;
    text-shadow: 1px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.Nav-H {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    padding: 25px 20px 0px 0px;
    align-items: end;
    height: fit-content;
}

.Nav-H div{
    justify-items: end;
}

.clock{
    color: #f8fafc;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    font-size: 40px;
}

.date {
    color: #7588a3;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.year {
    color: #7588a3;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.Innhold {
    grid-column: span 5 / span 5;
    grid-row: span 4 / span 4;
    grid-row-start: 2;
    background-color: #171b23;
    border-radius: 40px;
    margin: 70px 40px 10px 40px;
    outline: 1px solid #2c313a;
}
     
.Innhold ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.InnholdGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    align-items: start;
}

.InnholdGrid-V {
    grid-column: span 3 / span 3;
    grid-column-start: 1;
    display: flex;
    height: fit-content;
    margin: 15px 0px 10px 15px;
}

.InnholdGrid-V img {
    width: 30px;
    height: 30px;
    padding: 5px 5px;
    margin: 20px 20px;
    background-color: #243b55;
    border-radius: 25%;
    outline: 1px solid #2c313a;
}

.InnholdGrid-V:hover {
    transform: scale(1.02)
}

.InnholdGrid-V h2 {
    color: #f8fafc;
    font-family: 'Inter', sans-serif;
    margin: 15px 0px 5px 0px;
    font-size: 20px;
}

.InnholdGrid-V p {
    color: #7588a3;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin: 0;
    font-size: 12px;
}

.InnholdGrid-H {
    grid-column-start: 5;
}

.InnholdGrid-List {
    grid-column: span 5 / span 5;
    grid-row: span 4 / span 4;
    grid-row-start: 2;    
    margin-bottom: 40px;
}

.SakListe {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 10px 16px 10px;
}

.sak {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;
    background-color: #1c2029;
    padding: 14px 18px;
    margin: 0px 35px 0px 35px;
    border-radius: 15px;
    color: #e6e9ef;
    outline: 1px solid #2c313a;
}

.sak-main {
    display: flex;
    flex-direction: column;
}

.sak-title {
    display: flex;
    align-items: center;
}

.sak-title p {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.08rem;
    text-shadow: 1px;
    margin: 5px;
}

.sak-title img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.sak-sub {
    display: flex;
    align-items: center;
}

.sak-sub img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.sak-sub p {
    font-size: 0.85rem;
    opacity: 0.7;
    font-family: 'Inter', sans-serif;
    margin: 5px;
}

.tag {
    font-family: 'Inter', sans-serif;
    padding: 6px 12px;
    border-radius: 15px;  
}

.tag.screen {
    background: #243b55;
    display: flex;
    align-content: center;
}

.tag.screen img {
    width: 20px;
    height: 20px;
    margin: 5px 5px;
}

.tag.screen span {
    align-self: center;
    color: #0a85ff;
    margin-right: 5px;
}

.util {
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 0px 20px 0px 20px;
}

.util img {
    width: 20px;
    height: 20px;
}

.util p {
    font-family: 'Inter', sans-serif;
    color: #aaadb4;
    font-weight: 400;
    display: flex;
    margin-left: 5px;
}

.sak-time {
    font-family: 'Inter', sans-serif;
    color: #aaadb4;
    font-weight: 500;
}
