@import url(https://fonts.bunny.net/css?family=alata:400|audiowide:400|azeret-mono:400|monomaniac-one:400|ubuntu-mono:400);
/* 
font-family: 'Alata', sans-serif;
font-family: 'Audiowide', display;
font-family: 'Azeret Mono', monospace;
font-family: 'Monomaniac One', sans-serif;
font-family: 'Ubuntu Mono', monospace;
*/

body {
    background-color: #14181f;
}

.Main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    height: 100%;
    width: 100%;
}
    
.Nav-V {
    grid-column: span 3 / span 3;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 0px 0px 20px ;
}

.Nav-V-Icon-Outline {
    width: 70px;
    height: 70px;
    border-radius: 25%;
    background-color: #122e4c;
}

.Nav-V-Icon-Outline img {
    width: 50px;
    height: 50px;
    color: #0a85ff;
    margin: 10px 10px;
}

.Nav-V-Icon-Outline:hover {
    animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-10px);}
}

.Nav-V-Text H1{
    margin: 5px;
    color: #f8fafc;
    text-shadow: 3px;
    font-family: 'Alata', sans-serif;
}

.Nav-V-Text p{
    margin: 5px;
    color: #7588a3;
    text-shadow: 1px;
    font-family: 'Audiowide', display;
    font-size: 12px;
    font-weight: bold;
}

.Nav-H {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    padding: 10px 20px 0px 0px;
    align-items: end;
}

.Nav-H div{
    justify-items: end;
}

.clock{
    color: #f8fafc;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    font-size: 40px;
}

.date {
    color: #7588a3;
    font-family: 'Audiowide', display;
    font-size: 12px;
    font-weight: bold;
}

.year {
    color: #7588a3;
    font-family: 'Audiowide', display;
    font-size: 11px;
    font-weight: bold;
}

.Innhold {
    grid-column: span 5 / span 5;
    grid-row: span 4 / span 4;
    grid-row-start: 2;
    background-color: #171b23;
    border-radius: 40px;
    margin: 30px 20px 10px 20px;

}
     